<a id="logo" href="{{ .Site.BaseURL }}">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 243 89" width="100%" height="70px">
    <style type="text/css">
      .st0 { fill: #ffffff; }
    </style>
    <path class="st0" d="M103,9.4H92.5L77.9,54.2h9.3l3-10.1h14.6l2.9,10.1h9.7L103,9.4z M92.8,35.7l4.9-16.4l4.8,16.4H92.8z"/>
    <polygon class="st0" points="143.8,0.5 138.2,9.4 144.8,9.4 154.1,0.5 	"/>
    <polygon class="st0" points="100.6,62.7 100.6,88.9 117,88.9 117,84 105.9,84 105.9,62.7 	"/>
    <path class="st0" d="M76.3,83.9c0,0.2,0,0.3,0,0.5c0.1,2.7,2.5,4.8,5.2,4.7H90c0.2,0,0.3,0,0.5,0c2.7-0.1,4.8-2.4,4.7-5.2V62.7h-5.3v20.2c0,0.1,0,0.2,0,0.3c-0.1,0.6-0.6,1-1.2,1h-5.8c-0.1,0-0.2,0-0.3,0c-0.6-0.1-1.1-0.6-1-1.2V62.7h-5.3V83.9z"/>
    <polygon class="st0" points="123.5,9.4 123.5,54.2 131.9,54.2 131.9,23.7 148.5,54.2 158.3,54.2 158.3,9.4 149.8,9.4 149.8,40 133.2,9.4"/>
    <path class="st0" d="M24,9.2H9.1c-5.3,0-8.9,3.6-8.9,8.8v27.6c0,0.3,0,0.6,0,0.8c0.2,4.7,4.2,8.2,8.9,8H24c5.3,0,8.9-3.6,8.9-8.8V29.2H15.6v8.1h8.3v6.7c0,0.1,0,0.3,0,0.5c-0.1,1-1.1,1.8-2.1,1.7H11.4c-0.2,0-0.3,0-0.5,0c-1-0.1-1.8-1.1-1.7-2.1V19.8c0-0.2,0-0.3,0-0.5c0.1-1,1.1-1.8,2.1-1.7h10.3c0.1,0,0.3,0,0.5,0c1,0.1,1.8,1.1,1.7,2.1v4.1h9V18C32.9,12.8,29.2,9.2,24,9.2z"/>
    <path class="st0" d="M73.9,18.3c0-5.2-3.6-8.8-8.9-8.8H41.5v44.8H65c5.3,0,8.9-3.6,8.9-8.8V18.3z M64.9,20v23.6c0,0.1,0,0.3,0,0.5c-0.1,1-1.1,1.8-2.1,1.7H50.5V17.9h12.2c0.1,0,0.3,0,0.5,0C64.3,18,65,19,64.9,20z"/>
    <path class="st0" d="M71.6,71.2v-3.4c0-0.2,0-0.3,0-0.5c-0.1-2.7-2.5-4.8-5.2-4.7h-8.7c-0.2,0-0.3,0-0.5,0c-2.7,0.1-4.8,2.4-4.7,5.2v16.2c0,0.2,0,0.3,0,0.5c0.1,2.7,2.5,4.8,5.2,4.7h8.7c0.2,0,0.3,0,0.5,0c2.7-0.1,4.8-2.4,4.7-5.2v-9.7H61.5V79h4.8v3.9c0,0.1,0,0.2,0,0.3c-0.1,0.6-0.6,1-1.2,1H59c-0.1,0-0.2,0-0.3,0c-0.6-0.1-1.1-0.6-1-1.2V68.7c0-0.1,0-0.2,0-0.3c0.1-0.6,0.6-1.1,1.2-1h6.1c0.1,0,0.2,0,0.3,0c0.6,0.1,1.1,0.6,1,1.2v2.4H71.6z"/>
    <polygon class="st0" points="26.9,62.7 26.9,88.9 31.9,88.9 31.9,71 41.6,88.9 47.3,88.9 47.3,62.7 42.4,62.7 42.4,80.6 32.6,62.7"/>
    <path class="st0" d="M5.7,88.9L7.5,83H16l1.7,5.9h5.7l-8.5-26.3H8.8L0.2,88.9H5.7z M11.8,68.5l2.8,9.6H8.9L11.8,68.5z"/>
    <path class="st0" d="M189.1,19.7c0.1-1-0.7-2-1.7-2.1c-0.1,0-0.3,0-0.4,0l-9,0.1c-1-0.1-2,0.6-2.1,1.7c0,0.1,0,0.3,0,0.5l0,4.2c0,1.4,0.8,1.8,2.2,2.1l11.7,2.4c4.9,1,9.1,3.9,9.1,8.9l0.1,8.1c0.1,5.2-3.5,8.9-8.8,8.9l-14,0.1c-5.3,0.1-8.9-3.5-9-8.7l-0.1-5.7l8.8-0.1l0,4c-0.1,1,0.7,2,1.7,2.1c0.1,0,0.3,0,0.4,0l9.8-0.1c1,0.1,2-0.6,2.1-1.7c0-0.1,0-0.3,0-0.5l0-4.7c0-1.4-0.8-1.8-2.2-2.1l-11.7-2.4c-4.9-1-9.1-3.9-9.1-8.9l-0.1-7.6c-0.1-5.2,3.5-8.9,8.8-8.9l13.3-0.1c4.7-0.3,8.7,3.2,9,7.9c0,0.3,0,0.6,0,0.8l0.1,5.2l-8.8,0.1L189.1,19.7z"/>
    <polygon class="st0" points="234.9,88.9 234.9,79.9 243.1,62.7 237.3,62.7 232.3,73.9 227.3,62.7 221.5,62.7 229.6,79.9 229.6,88.9"/>
    <path class="st0" d="M192.7,62.7h-13.8v26.3h13.8c0.2,0,0.3,0,0.5,0c2.7-0.1,4.8-2.4,4.7-5.2V67.9c0-0.2,0-0.3,0-0.5C197.8,64.6,195.4,62.5,192.7,62.7z M192.6,82.7c0,0.1,0,0.2,0,0.3c-0.1,0.6-0.6,1-1.2,1h-7.2V67.7h7.2c0.1,0,0.2,0,0.3,0c0.6,0.1,1.1,0.6,1,1.2V82.7z"/>
    <polygon class="st0" points="207.3,9.4 207.3,54.2 216.2,54.2 216.2,42.8 222.5,34.8 232.9,54.2 243.1,54.2 228.6,27.1 242.4,9.4 231.8,9.4 216.2,30.5 216.2,9.4"/>
    <path class="st0" d="M205.7,88.9l1.8-5.9h8.6l1.7,5.9h5.7L215,62.7h-6.2l-8.5,26.3H205.7z M211.8,68.5l2.8,9.6H209L211.8,68.5z"/>
    <path class="st0" d="M124.1,88.9l1.8-5.9h8.6l1.7,5.9h5.7l-8.5-26.3h-6.2l-8.5,26.3H124.1z M130.2,68.5l2.8,9.6h-5.7L130.2,68.5z"/>
    <path class="st0" d="M164,74v-6.2c0-0.2,0-0.3,0-0.5c-0.1-2.7-2.5-4.8-5.2-4.7h-13.5v26.3h5.3v-9.7h4.3l4.3,9.7h5.7l-4.4-10C162.7,78.4,164.2,76.3,164,74z M158.8,73.1c0,0.1,0,0.2,0,0.3c-0.1,0.6-0.6,1.1-1.2,1h-6.9v-6.7h6.9c0.1,0,0.2,0,0.3,0c0.6,0.1,1.1,0.6,1,1.2V73.1z"/>
  </svg>
</a>
